@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .cabecalho {
        width: 100%;
        background: linear-gradient(88.27deg, #574AE8 0%, #3EA1DB 100%);
        display: flex;
        height: 120px;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .textos {
            display: flex;
            justify-content: space-between;
            width: 75%;
            margin-bottom: 20px;
            color: #fff;

            .cabecalho-left {
                display: flex;
            }

            .cabecalho-right {
                display: flex;
            }
        }

        .pesquisa {
            width: 75%;
            height: 40px;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 5px;
            display: flex;
            align-items: center;
            cursor: pointer;

            img {
                position: absolute;
                margin-left: 10px;
                width: 20px;
            }

            span {
                margin-left: 50px;
                color: rgba(253, 252, 252, 0.6);
                font-size: 12px;
            }
        }
    }

    .principal {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 20px;
        margin: 16px 0px 16px 0px;

        .datas {
            display: flex;
            font-size: 13px;
            color: rgb(79, 79, 79);
        }

        .manchetes {
            font-family: 'Lexend Deca';
            font-style: normal;
            font-weight: 400;
            font-size: 22px;
        }


        .windows {
            width: 75%;
            display: flex;
            flex-direction: column;
            line-height: 35px;

        }

        .tim-berners,
        .firefox,
        .mcafee {
            width: 75%;
            line-height: 35px;
        }
    }

    .noticia {
        font-family: 'Lexend Deca';
        color: rgb(109, 106, 106);
        font-size: 10px;
        line-height: 20px;
    }
}

.heart-position {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        display: flex;
        align-items: center;

        img:hover {
            background-color: rgb(205, 204, 204);
            border-radius: 30%;
            cursor: pointer;
        }
    }

}

@media screen and (max-width:700px) {

    .textos,
    .windows,
    .tim-berners,
    .firefox,
    .mcafee,
    .pesquisa {
        width: 90% !important;
    }
}